<div class="convo-header">
    <div class="convo-details">
        <h1 ng-bind="convo.subject || 'Subject'"></h1>
        <p>started by <strong ng-bind="convo.emailFrom || 'Person'"></strong> on <strong ng-bind="convo.createdAt | date: 'medium'"></strong></p>
    </div>
    <table class="convo-it-details">
        <tbody>
            <tr>
                <th><p class="title">User Agent:</p></th>
                <td><p class="value" ng-bind="convo.userAgent || 'User Agent'"></p></td>
            </tr>
            <tr>
                <th><p class="title">Browser:</p></th>
                <td><p class="value" ng-bind="convo.browser || 'Web Browser'"></p></td>
            </tr>
            <tr>
                <th><p class="title">OS:</p></th>
                <td><p class="value" ng-bind="convo.os || 'Operating System'"></p></td>
            </tr>
            <tr>
                <th><p class="title">IP Address:</p></th>
                <td><p class="value" ng-bind="convo.ip || 'IP Address'"></p></td>
            </tr>
            <tr>
                <th><p class="title">Referrer:</p></th>
                <td><p class="value"><a href="{{convo.referrer || '/'}}" ng-bind="convo.referrer || 'http://urwebrsv.rutgers.edu/'"></a></p></td>
            </tr>
        </tbody>
    </table>
    <div class="convo-actions">
        <button class="btn--clear">FORWARD</button>
    </div>
</div>
<ul class="messages">
    <message
        ng-repeat="msg in convo.messages track by msg.id"
        sender="msg.emailFrom"
        sent="msg.createdAt | date : 'MMM d, h:mm a'"
        body="msg.body"
    />
</ul>
<div class="convo-footer">
    <message-box placeholder="Type a response or insert a template..." message="response.message"></message-box>
    <div class="convo-footer-actions">
        <div class="button-group at-right">
            <button
                class="btn--clear"
                ng-disabled="replyDisabled(response.message)"
                ng-click="doReply(convo.id, response.message)">REPLY</button>
        </div>
    </div>
</div>
