<card class="login-card">
    <!-- card lead -->
    <div class="card-lead">
        <logo></logo>
    </div>

    <div class="card-body">
        <form class="stacked">
            <label class="full-width">
                <i class="ion-android-person icon icon--sm icon--dark"></i>
                <input ng-model="loginData.email" type="email" placeholder="netid@rutgers.edu" name="email"/>
            </label>

            <label class="full-width">
                <i class="ion-android-lock icon icon--sm icon--dark"></i>
                <input ng-model="loginData.password" type="password" placeholder="password" name="password"/>
            </label>
        </form>
    </div>
    <div class="card-footer">
        <div class="button-group at-right">
            <button class="btn--clear btn--tight" ng-click="doLogin($event)">LOGIN</button>
            <span class="spacer"></span>
        </div>
    </div>

    <!-- card trail -->
    <div class="card-trail">
        <a class="btn light btn--clear btn--sm btn--tight" ui-sref="auth.register">REGISTER</a>
    </div>
</card>
