<card class="register-card">
    <!-- card lead -->
    <div class="card-lead">
        <logo></logo>
    </div>

    <div class="card-body">
        <form class="stacked">
            <label class="full-width">
                <i class="ion-android-person icon icon--sm icon--dark"></i>
                <input type="email" placeholder="netid@rutgers.edu"/>
            </label>

            <label class="full-width">
                <i class="ion-android-lock icon icon--sm icon--dark"></i>
                <input type="password" placeholder="password"/>
            </label>

            <label class="full-width">
                <span class="spacer spacer--md"></span>
                <input type="password" placeholder="confirm password"/>
            </label>
        </form>
    </div>
    <div class="card-footer">
        <div class="button-group at-right">
            <button class="btn--clear btn--tight" ng-click="doRegister($event)">REGISTER</button>
            <span class="spacer"></span>
        </div>
    </div>

    <!-- card trail -->
    <div class="card-trail">
        <a class="btn light btn--clear btn--sm btn--tight" ui-sref="auth.login">LOGIN</a>
    </div>
</card>
