<card class="register-card">
    <!-- card lead -->
    <div class="card-lead">
        <logo></logo>
    </div>

    <div class="card-body">
        <p class="centered danger" ng-if="registerData.error">{{registerData.errorMsg}}</p>
        <form class="stacked" ng-submit="doRegister($event)">
            <label class="full-width">
                <i class="ion-android-person icon icon--sm icon--dark"></i>
                <input ng-model="registerData.email" name="email" type="email" placeholder="netid@rutgers.edu" required/>
            </label>

            <label class="full-width">
                <i class="ion-android-lock icon icon--sm icon--dark"></i>
                <input ng-model="registerData.password" name="password" type="password" placeholder="password" required/>
            </label>

            <label class="full-width">
                <span class="spacer spacer--md"></span>
                <input ng-model="registerData.confirmPassword" name="confirmPassword" type="password" placeholder="confirm password" required/>
            </label>

            <input type="submit" class="hidden"/>
        </form>
    </div>
    <div class="card-footer">
        <div class="button-group at-right">
            <button class="btn--clear btn--tight" ng-click="doRegister($event)">REGISTER</button>
            <span class="spacer"></span>
        </div>
    </div>

    <!-- card trail -->
    <div class="card-trail">
        <a class="btn light btn--clear btn--sm btn--tight" ui-sref="auth.login">LOGIN</a>
    </div>
</card>
