<div class="list-header">
    <form class="search-bar" ng-submit="searchConvos()">
        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        <input type="search" placeholder="Search for messages..." ng-model="query" />
    </form>
    <div class="list-actions">
        <select ng-model="curFilter">
          <option
          ng-repeat="option in Object.keys(filters)"
          value="{{filters[option]}}"
          >{{option}}</option>
        </select>
        <div class="button-group">
            <button
            class="button-clear"
            ng-click="openMarkModal()"
            ng-disabled="(!enableListButtons())">MARK AS</button>
            <button
            class="button-clear"
            ng-click="openMarkModal()"
            ng-disabled="(!enableListButtons())">MOVE TO</button>
        </div>
    </div>
</div>
<ul class="list-items">
    <convo-item
    ng-repeat="convo in convos | filter:byStatus track by convo.id"
    convo="convo"
    click="viewConvo"
    select="toggleSelect"
    selected="selectedConvos.has(convo.id)"/>
</ul>
