.user-list-pane {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2px;
    overflow: hidden;
}

.list-item > span {
  margin: 0;
  padding: 0;
  display: inline-block;

  margin-left: 2.5%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
