html, body { margin: 0; padding: 0; background: #c8c8c8;}

body {
  height: 100vh;
  width: 100vw;
  font-size: 16px;

  font-family: Overpass, Segoe UI;
}

/********************************* TYPOGRAPHY *********************************/

h1, h2, h3, h4, h5, h6, p, span, small, input, textarea {
  font-family: Overpass;
  color: #4A4A4A;
}

p, span, small, textarea {
  font-weight: 400;
  font-size: 16px;
  word-break: break-word;
  word-wrap: break-word;
}

small {
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
  font-weight: 900;
}

h3, h4, h5, h6 {
  font-weight: 700;
}

/********************************** BUTTONS **********************************/
button {
  background: #ccc;
  border: 0;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  letter-spacing: 0.25px;
  font-weight: 700;
  text-transform: uppercase;
}

button:disabled {
  /*color: rgba(0, 0, 0, 0.75);*/
}

button.button-clear {
/*   TODO: use mix-blend mode to determine what color to make the text */
  background: transparent;
}

/*placeholders*/

div[ui-view] { position: relative; }

/*

1. position it dead center
2. reduce contrast
3. make it unselectable
*/
div[ui-view] > .placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    display: block;

    text-align: center;
    color: #aaa;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

/* app & panes*/

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.panes {
    display: flex;
}

.horizontal-panes {
    flex-direction: row;
}
.pane {
    padding: 0 2px;
}
.pane + .pane {
    padding-left: 0;
}

/* > 11' laptops: phones */
@media (min-width: 320px) {
    .convo-list-pane    { flex: 1 }
    .convo-pane         { flex: 1 }
}

/* > 11' laptops: tablets */
@media (min-width: 680px) {
    .convo-list-pane    { flex: 2 }
    .convo-pane         { flex: 3 }
}

/* > 13' laptops: latops */
@media (min-width: 1024px) {
    .convo-list-pane    { flex: 3 }
    .convo-pane         { flex: 4 }
}
