html, body { margin: 0; padding: 0; background: #c8c8c8;}

body {
  height: 100vh;
  width: 100vw;
  font-size: 16px;

  font-family: Overpass, Segoe UI;
}

.app {
    height: 100%;
    width: 100%;
}

.panes {
    display: flex;
}

.horizontal-panes {
    flex-direction: row;
}
/********************************* TYPOGRAPHY *********************************/

h1, h2, h3, h4, h5, h6, p, span, small, input, textarea {
  font-family: Overpass;
  color: #4A4A4A;
}

p, span, small, textarea {
  font-weight: 400;
  font-size: 16px;
}

small {
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
  font-weight: 900;
}

h3, h4, h5, h6 {
  font-weight: 700;
}

/********************************** BUTTONS **********************************/
button {
  background: #ccc;
  border: 0;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  letter-spacing: 0.25px;
  font-weight: 700;
  text-transform: uppercase;
}

button:disabled {
  color: rgba(0, 0, 0, 0.75);
}

button.button-clear {
/*   TODO: use mix-blend mode to determine what color to make the text */
  background: transparent;
}
