html, body {
    margin: 0;
    padding: 0;
    background: #ddd;
    background: linear-gradient(to right, #ddd, #aaa);
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  white-space: nowrap;

  font-family: Overpass, Segoe UI;
}

/******************************** $TYPOGRAPHY ********************************/

h1, h2, h3, h4, h5, h6, p, span, small {
  font-family: Overpass;
  color: #4A4A4A;
}

p, span, small {
  font-weight: 400;
  font-size: 16px;
  word-break: break-word;
  word-wrap: break-word;
  white-space: normal;
}

small {
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
  font-weight: 900;
}

h3, h4, h5, h6 {
  font-weight: 700;
}

/*********************************** $FORMS ***********************************/

form {
  display: flex;
  width: 100%;
}

.stacked {
    flex-direction: column;
}

.full-width {
  box-sizing: border-box;
  width: 100%;

  display: flex;
  align-items: center;

  padding: 0 1rem;
}

.full-width > input[type="text"],
.full-width > input[type="password"],
.full-width > input[type="email"] {
  flex: 1;
  box-sizing: border-box;
  border: 0;
  border-bottom: 2px solid transparent;
  outline: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;

  transition: border 0.3s;
}

.full-width > input[type="text"]:focus,
.full-width > input[type="password"]:focus,
.full-width > input[type="email"]:focus {
  border-bottom: 2px solid #ddd;
}

/********************************** $BUTTONS **********************************/

/*
Main button class.

Button should be an inline-block.
Text should be heavy and undecorated, spaced.
The cursor should change to a pointer.

*/
button, .btn {
    display: inline-block;

    margin: 0 2px;
    box-sizing: border-box;
    border: 0;

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;

    outline: 0;
    text-decoration: none;

    background: #ccc;
    color: black;

    cursor: pointer;
}

button:disabled, .btn:disabled {
  color: rgba(0, 0, 0, 0.5);
}

.btn--clear {
/*   TODO: use mix-blend mode to determine what color to make the text */
  background: transparent;
}

.button-group {
    position: absolute;
}

.at-right {
    right: 0;
}
/*placeholders*/

div[ui-view] { position: relative; }

/*

1. position it dead center
2. reduce contrast
3. make it unselectable
*/
div[ui-view] > .placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    display: block;

    text-align: center;
    color: #aaa;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

/******************************** $CONTAINERS ********************************/

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.panes {
    display: flex;
}

.horizontal-panes {
    flex-direction: row;
}
.pane {
    padding: 0 2px;
    flex-grow: 1;
    overflow: hidden;
    max-height: 100vh;
}
.pane + .pane {
    padding-left: 0;
}

.box {
    display: inline-block;
}

.box--center {
    position: absolute;
    left: 50%;
    margin: 0 auto;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* > 11' laptops: phones */
@media (min-width: 320px) {
    .convo-list-pane    { flex: 1 }
    .convo-pane         { flex: 1 }
}

/* > 11' laptops: tablets */
@media (min-width: 680px) {
    .convo-list-pane    { flex: 2 }
    .convo-pane         { flex: 3 }
}

/* > 13' laptops: latops */
@media (min-width: 1024px) {
    .convo-list-pane    { flex: 3 }
    .convo-pane         { flex: 4 }
}

/*********************************** $LISTS ***********************************/

.list-header {
    margin: 0;
    padding: 16px;
    background: white;
    overflow: hidden;
}

.list-actions {
    margin-top: 1em;
    box-sizing: border-box;
    position: relative;
    height: 16px;
    line-height: 16px;
    width: 100%;
}

.list-actions > * {
    position: absolute;
}

.list-actions > select {
    left: 0;
}

.list-actions > .button-group {
    right: 0;
}

.list-items {
    box-sizing: border-box;
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    /*height: calc(100vh - 96px - 2px - 48px);*/
    overflow-y: auto;
    overflow-x: hidden;
}

.list-items::-webkit-scrollbar {
    display: none;
}

/*

1. Make it the anchor point
2. Have it take up the max amount of space
3. Give it a min
*/
.list-item {
  position: relative;
  margin-top: 2px;

  box-sizing: border-box;
  width: 100%;
  height: 3rem;

  font-size: 1rem;
  line-height: 3rem;

  background: white;
}

.list-item.selected {
  background: transparent;
}

/*
Styles the multi-select pattern

@pre    assumes this markup:

    .list-item > label > checkbox

1. stuck to top left
2. visible only upon hover & when checked
*/

.list-item > label {
  position: static;
  display: inline-block;
  margin: 0;
/*   1/40 */
  margin-left: 2.5%;
  padding: 0;
  vertical-align: top;
}

.list-item > label > input[type="checkbox"] {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.list-item > label > input[type="checkbox"]:not(:checked) {
  visibility: hidden;
}

.list-item:hover > label > input[type="checkbox"]:not(:checked) {
  visibility: visible;
}

/*
    give it a side edge
*/

.list-item::before {
  display: block;
  content: "";

  width: 2.5%;
  height: 100%;

  float: left;
  z-index: 1;

  background: transparent;
}

/* List item edges float left by default  */
/*  */
.list-item__edge {
  float: left;
}

.edge--right {
  float: right;
}

li.list-item.unreplied::before {
  background: #FFDB34;
}

li.list-item.unread::before {
  background: #349AFF;
}

/*********************************** $ICONS ***********************************/

.icon {
  color: white;
  margin-right: 1rem;
}

.icon--dark { color: #333; }

/* icon sizes */
.icon--lg { width: 3rem; height: 3rem; font-size: 3rem; }
.icon--md { width: 2rem; height: 2rem; font-size: 2rem; }
.icon--sm { width: 1rem; height: 1rem; font-size: 1rem; }

/********************************* $UTILITIES *********************************/

.centered { text-align: center; }

.spacer {
  display: inline-block;
  width: 1rem;
}

.spacer--md { width: 2rem; }
.spacer--lg { width: 3rem; }

.light { color: white; }
.danger { color: #e45; }

.bg-red { background-color: #c03; }

.full-screen { width: 100vw; height: 100vh; }
