/****************************** CONTAINERS/CARDS ******************************/
// cards are UI patterns to encapsualte distinct items

// they consist of top level card classes, with optional leads, header, body, footer and trails in that order

.card {
  box-sizing: border-box;
}

/*
Bc of card-trail and card-lead, can't put background on the card itself
*/
.card > * {
  position: relative;

  min-height: 1rem;

  background-color: #fff;
}

.card-trail, .card-lead {
  text-align: center;
  color: white;
  background: transparent;
}

.card-header, .card-lead {
    margin-bottom: -1px;
}

.card-header, .card-trail { padding-top: 1rem; }

.card-body {
  box-sizing: border-box;
  padding: 1rem;
}

.card-footer, .card-trail {
    margin-top: -1px;
}

.card-footer, .card-lead { padding-bottom: 1rem; }
