.list-item > span {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 100%;
    margin-left: 2.5%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-item > .email {
    /*   11 / 40 */
    width: 27.5%;
}

.list-item > .title {
    /*   13 / 40 */
    width: 32.5%;
    font-weight: 600;
}

.list-item > .date {
    /*   7 / 40 */
    width: 17.5%;
    text-align: right;
}
