.login-card {
  width: 17rem;
}

/** FORMS **/

form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

label {
  box-sizing: border-box;
  width: 100%;

  display: flex;
  align-items: center;

  padding: 0 1rem;
}

label > input[type="text"],
label > input[type="password"],
label > input[type="email"] {
  flex: 1;
  box-sizing: border-box;
  border: 0;
  border-bottom: 2px solid transparent;
  outline: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;

  transition: border 0.3s;
}

label > input[type="text"]:focus,
label > input[type="password"]:focus,
label > input[type="email"]:focus {
  border-bottom: 2px solid var(--lightest);
}

/** BUTTONS **/

/*
Main button class.

Button should be an inline-block.
Text should be heavy and undecorated.
The cursor should change to a pointer.

*/
button, .btn, input[type='button'], input[type='submit'] {
  display: inline-block;
  margin: 0 2px;

  box-sizing: border-box;
  border: 0;
  padding: 0 1rem;
  width: initial;

  min-height: 2rem;
  line-height: 2rem;

  font-family: var(--font-interactive);
  font-weight: 700;
  font-size: 1rem;
  text-indent: 0;
  letter-spacing: 1px;

  outline: none;
  text-decoration: none;

  background-color: var(--default);
  color: var(--black);

  cursor: pointer;
}
