<card class="register-confirm-card">
    <!-- card lead -->
    <div class="card-lead">
        <logo></logo>
    </div>

    <div class="card-body">
        <i class="icon ion-android-checkmark"></i>
        <p>Thank you for registering for web response. An administrator will decide whether to approve your account, and notify you accordingly.</p>
    </div>
    <div class="card-footer">
        <div class="button-group at-right">
            <a class="btn light btn--clear btn--sm btn--tight" ui-sref="auth.register">GO BACK</a>
            <span class="spacer"></span>
        </div>
    </div>

</card>
